<div class="page-header">
  <h3>Website #<%= @website.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd>
        <% if @website.date.present? %>
          <a href="/date_ideas/<%= @website.date_id %>">
            <%= @website.date.date_name %>
          </a>
        <% end %>
      </dd>

      <dt>Url</dt>
      <dd><%= @website.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/websites" class="btn btn-primary">
        Back
      </a>
      <a href="/websites/<%= @website.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_website/<%= @website.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
