<div class="page-header">
  <h1>
    Date ideas
    <a href="/date_ideas/new" class="btn btn-lg btn-success">New Date idea</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Neighborhood</th>
        <th>Website</th>
        <th>Address</th>
        <th>Cover photo</th>
        <th>Price range</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @date_ideas.each do |date_idea| %>
      <tr>
        <td><%= date_idea.user.email %></td>
        <td><%= date_idea.name %></td>
        <td><%= date_idea.neighborhood.city_id %></td>
        <td><%= date_idea.website %></td>
        <td><%= date_idea.address %></td>
        <td><img src='<%= date_idea.cover_photo %>' class='img-responsive'></td>
        <td><%= date_idea.price_range %></td>
        <td><%= date_idea.description %></td>
        <td>
          <a href="/date_ideas/<%= date_idea.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == date_idea.user %>
            <a href="/date_ideas/<%= date_idea.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_date_idea/<%= date_idea.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
