<div class="page-header">
  <h3>Date Idea #<%= @date_idea.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @date_idea.user.present? %>
          <a href="/users/<%= @date_idea.user_id %>">
            <%= @date_idea.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @date_idea.name %></dd>

      <dt>Neighborhood</dt>
      <dd>
        <% if @date_idea.neighborhood.present? %>
          <a href="/neighborhoods/<%= @date_idea.neighborhood_id %>">
            <%= @date_idea.neighborhood.city_id %>
          </a>
        <% end %>
      </dd>

      <dt>Website</dt>
      <dd><%= @date_idea.website %></dd>

      <dt>Address</dt>
      <dd><%= @date_idea.address %></dd>

      <dt>Cover photo</dt>
      <dd><img src="<%= @date_idea.cover_photo %>" class="img-responsive"></dd>

      <dt>Price range</dt>
      <dd><%= @date_idea.price_range %></dd>

      <dt>Description</dt>
      <dd><%= @date_idea.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/date_ideas" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @date_idea.user %>
        <a href="/date_ideas/<%= @date_idea.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_date_idea/<%= @date_idea.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Date idea has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @date_idea.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.date_idea_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for date_idea_rating -->
      <div class="form-group">
        <label for="date_idea_rating" class="control-label">
          Date idea rating
        </label>

        <input type="text" id="date_idea_rating" name="date_idea_rating" placeholder="Date idea rating" class="form-control" value="">
      </div>

      <!-- Label and input for date_idea_rating_comment -->
      <div class="form-group">
        <label for="date_idea_rating_comment" class="control-label">
          Date idea rating comment
        </label>

        <input type="text" id="date_idea_rating_comment" name="date_idea_rating_comment" placeholder="Date idea rating comment" class="form-control" value="">
      </div>

      <!-- Label and input for date_idea_id -->
      <div class="form-group">
        <label for="date_idea_id" class="control-label">
          Date idea
        </label>

        <%= select_tag(:date_idea_id, options_from_collection_for_select(DateIdea.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Date idea has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @date_idea.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
